@model DublinRenting.Models.Renter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Renter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pref_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pref_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Max_Rent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Max_Rent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RenterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
